/*
	Style 1
*/
.qcmaa-d-none{
	display: none;
}
.style-1 .qcmaa-cat-image{
	width: 20%;
}
.style-1 .qcmaa-cat-details-container{
	width: 60%;
	padding: 20px 0;
}
.style-1 .qcmaa-cat-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.style-1 .qcmaa-cat-lists-container{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.style-1 .qcmaa-cat-lists-container .qcmaa-cat-lists{
    margin: 10px 5px;
}

/*.qcmaa-single-item-container{
	width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding: 0 45px;
}*/
.qcmaa-single-item-container {
    width: 100%;
    position: relative;
    margin: 0;
    left: 0;
    padding: 0 0;
}
.style-1 .qcmaa-cat-lists-container .qcmaa-cat-lists a{
	line-height: 21px;
	padding: 4px 8px;
	font-size: 16px;
	font-weight: 700;
	text-transform: lowercase;
	background-color: #F87B4E;
    border: 1px solid #F87B4E;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    transition: all 500ms;
}
.style-1 .qcmaa-cat-lists-container .qcmaa-cat-lists a:hover{
	background-color: #f76029;
	border-color: #f6561d;
}
.style-1 .qcmaa-cat-image img{
	max-width: 50px;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 10px 0px #F87B4E;
	box-shadow: 0 0 10px 0px #F87B4E;
}
.style-1 .qcmaa-tag-title,
.style-1 .qcmaa-term-title{
    color: #000;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500
}
.qcmaa-cat-image-wrapper{
	z-index: 2;
}
.style-1 .qcmaa-cat-image{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	position: relative;
	-ms-align-items: center;
	align-items: center;
}

.style-1 .qcmaa-cat-image:after{
	content: '';
	left: 50%;
	height: 100%;
	position: absolute;
	z-index: 1;
	border-left: 3px solid #F87B4E;

}
.style-1 .qcmaa-cat-item:first-child .qcmaa-cat-image:after{
	top: 50%;
	height: 50%;
}
.style-1 .qcmaa-cat-item.qcmaa-odd .qcmaa-cat-lists-container{
	justify-content: flex-start;
}
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-details-container{
	order: 1
}
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-image{
	order: 2
}
.style-1 .qcmaa-cat-item.qcmaa-even,
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-details-container,
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-lists-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-title{
	text-align: right;
}
.style-1 .qcmaa-cat-item.qcmaa-even .qcmaa-cat-image{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.style-1 .qcmaa-cat-total-lists{
	display: none;
}
.style-1 .qcmaa-timeline{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}
.style-1 .qcmaa-cat-title{
	width: 100%;
}
.style-1 .qcmaa-cat-title-details span{
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	color: #000;
}
.style-1 .qcmaa-cat-title-details a:hover{
	text-decoration: underline;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-odd:last-of-type .qcmaa-right-col .qcmaa-border{
	border: none !important;
	border-bottom: 3px solid #F87B4E !important;
	height: 0 !important;
	position: relative;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-odd:last-of-type .qcmaa-right-col{
	overflow: visible;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-odd:last-of-type .qcmaa-right-col .qcmaa-border:after{
	content: '\2713';
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #F87B4E;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    transform: translateY(-25px);
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
}


/*
	First Rows
*/
.style-1 .qcmaa-timeline .qcmaa-left-col{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	height: 40px;
	width: 20%;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-odd .qcmaa-left-col .qcmaa-border{
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 40px;
	border: 3px solid #F87B4E;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    top: -50%;
}
.style-1 .qcmaa-timeline .qcmaa-right-col{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	height: 40px;
	width: 20%;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-odd .qcmaa-right-col .qcmaa-border{
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 40px;
	border: 3px solid #F87B4E;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    left: calc(3px - 50%);
    top: calc(50% - 3px);
}
.style-1 .qcmaa-timeline .qcmaa-mid-col{
	position: relative;
	width: 60%;
	height: 40px;
}
.style-1 .qcmaa-timeline .qcmaa-mid-col .qcmaa-border {
    border-bottom: 3px solid #F87B4E;
    height: 40px;
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 999999999;
    width: 100%;
}


/*
	Seconds Rows
*/
.style-1 .qcmaa-timeline.qcmaa-timeline-even .qcmaa-right-col{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	height: 40px;
	width: 20%;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-even .qcmaa-right-col .qcmaa-border{
	position: absolute;
	bottom: 0;
	height: 40px;
	border: 3px solid #F87B4E;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    right: calc( 50% - 3px );
    bottom: 50%;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-even .qcmaa-left-col{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	height: 40px;
	width: 20%;
}
.style-1 .qcmaa-timeline.qcmaa-timeline-even .qcmaa-left-col .qcmaa-border{
	position: absolute;
	bottom: 0;
	height: 40px;
	border: 3px solid #F87B4E;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    top: calc(50% - 3px);
}

/*
Style 2
*/
.style-2 .qcmaa-grid-item {
	width: 32%;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 24px;
}
.style-2 .qcmaa-cat-lists p{
	margin: 0;
}
.style-2 .qcmaa-cat-title{
	line-height: 40px;
	font-size: 24px;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

}
.style-2 .qcmaa-cat-image{
	margin-right: 10px;
}
.style-2 .qcmaa-cat-image img{
	display: block;
	height: auto;
	max-width: 60px;
	border-radius: 100%;
}
.style-2 .qcmaa-cat-lists-container{
	margin-left: 50px;
}
.style-2 .qcma-cat-has-no-image .qcmaa-cat-title{
	margin-left: 30px;
}

@media only screen and (max-width: 1023px){
	.style-2 .qcmaa-grid-item{
		width: 48%;
	}
}
@media only screen and (max-width: 550px){
	.style-2 .qcmaa-grid-item{
		width: 100%;
	}
}

/*===========================
	Single List Item
 ===========================*/
	/*	Style 1	*/
.style-1.qcmaa-single-item-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*.style-1 .qcmaa-left-column{
	width: 10%;
	position: absolute;
}
.style-1 .qcmaa-right-column{
	padding-left: 20px;
	width: 75%;
	margin: 0 auto;
}*/
.style-1 .qcmaa-left-column {
    width: 25%;
    position: relative;
}
.style-1 .qcmaa-right-column {
    padding-left: 20px;
    width: 75%;
    margin: 0 auto;
}
.style-1 .qcmaa-right-column > div{
	/*width: 75%;*/
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.style-1 .qcmaa-single-item-wrapper{
	background: #fff;
	-webkit-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid transparent;
}
.style-1 .qcmaa-single-list-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
	-webkit-transition: all 500ms;
	transition: all 500ms;
	position: relative;
}
.style-1 .qcmaa-single-list-item:nth-of-type(even){
	background: #f8fcff;
}
.style-1 .qcmaa-single-list-item:last-of-type{
	border: none;
}
.style-1 .qcmaa-single-list-item:hover{
	background: #f2f2f2;
}
.style-1 .qcmaa-single-list-item{
	padding: 10px 15px;
}
.style-1 .qcmaa-single-item-title-row,
.style-1 .qcmaa-single-item-icons-row,
.style-1 .qcmaa-single-item-thumbnail{
	padding: 0 15px;
}
.style-1 .qcmaa-single-item-icons-row{
	padding-right: 0;
}
.style-1 .qcmaa-single-item-thumbnail{
	padding-left: 0;
}
.style-1 .qcmaa-single-item-thumbnail{
	width: 12%;
	text-align: center;
	margin: -10px -16px;
}
.style-1 .qcmaa-single-item-thumbnail img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 0;
}
.style-1 .ca-icon{
	display: block;
}
.style-1 .qcmaa-single-item-title-row{
	width: 58%;
}
.style-1 .qcmaa-single-item-tags-row{
	width: 18%;
	padding: 0 10px;
}
.style-1 .qcmaa-single-item-tags-row .qcmaa-row-tags,
.style-1 .qcmaa-tag,
.style-1 .qcmaa-term{
	padding: 3px 14px;
    background: #f0f0f0;
    border-radius: 4px;
    margin: 3px 3px 3px 0;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transition: 700ms;
    transition: 700ms;
}
.style-1 .qcmaa-single-list-item:hover .qcmaa-row-tags,
.style-1 .qcmaa-tag,
.style-1 .qcmaa-term {
	background: #d1eaff;
}
.style-1 .qcmaa-single-list-item:hover .qcmaa-row-tags:hover,
.style-1 .qcmaa-tag:hover,
.style-1 .qcmaa-term:hover {
    background: #fff;
	color: #000;
}
.style-1 .qcmaa-tag,
.style-1 .qcmaa-term{
	background: #d1eaff;
	color: #000;
}
.style-1 .qcmaa-tag:hover,
.style-1 .qcmaa-term:hover{
	background: #f0f0f0;
}
.style-1 .qcmaa-list-all-terms{
	margin-bottom: 20px;
}
.style-1 .qcmaa-single-item-icons-row{
	width: 12%;
	text-align: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.style-1 .qcmaa-single-list-item h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.style-1 .qcmaa-single-list-item p{
	margin-bottom: 10px;
}
.style-1 .qcmaa-single-list-item a{
	color: #000;
}
.style-1 .qcmaa-single-list-item a:hover{
	color: #0274be;
}
.style-1 .qcmaa-single-item-icons-row a{
	color: #0274be;	
}

.style-1 .qcmaa-new-icon-section{
	position: absolute;
	top: 0;
	left: 0;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    display: flex;
    font-size: 9px;
    font-weight: bold;
    height: 13px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
}

.style-1 .qcmaa-single-item-icons-row .qcmaa-featured-section{
	width: 28px;
    border-style: solid;
    position: relative;
    border-width: 0 2px 28px 25px;
    border-color: transparent transparent #FFEB3B transparent;
}
.style-1 .qcmaa-single-item-icons-row .qcmaa-featured-section i{
	position: absolute;
	top: 10px;
	left: -9px;
	color: #3d7dfc;
}
.style-1 .qcmaa-single-item-icons-row .upvote-count{
/*	position: absolute;
    top: 15px;
    left: -3px;*/
    display: block;
    width: 100%;
}
.style-1 .qcmaa-single-item-icons-row .upvote-section{
	position: relative;
	cursor: pointer;
	width: 32px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
}

.qcmaa-pagination{
	overflow: hidden;
	text-align: center;
	margin: 30px 15px 15px 15px;
}
.qcmaa-page-link,
.qcmaa-pagination .nav-links{
	display: inline-block;
}
.qcmaa-page-link a,
.qcmaa-page-link span,
.qcmaa-pagination .nav-links a,
.qcmaa-pagination .nav-links span{
	display: inline-block;
	margin: 3px;
	padding: 4px 12px;
	background: #72b7ea;
	color: #fff;
}
.qcmaa-page-link a:hover,
.qcmaa-page-link span,
.qcmaa-pagination .nav-links span,
.qcmaa-pagination .nav-links a:hover{
	background: #2b86ca;
}
.qcmaa-pagination .next.page-numbers{
	display: none;
}

#qcmaa-search{
	position: relative;
}
#qcmaa-search input {
  border: 1px solid #e9e9e9;
  font-size: 14px;
  height: 45px;
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-sizing: border-box;
  position:relative
}
#qcmaa-search:after{
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #b0acac;
    font-size: 16px;
    padding-right: 0.5em;
    top: 10px;
    left: 92%;
    position: absolute;
    cursor: pointer;
}
.sld_load_more{
	cursor: pointer;
}
.style-1 .qcmaa-single-item-icons-row > div {
    width: 32px;
    text-align: center;
}
.qcmaa-top-area.sld-top-area {
	margin-bottom: 30px;
}
.qcmaa-empty-result{
	padding: 15px;
}
.style-1 .qcmaa-breadcrumb-list{
	margin-left: 0;
}
.style-1 .qcmaa-breadcrumb-list-item{
	list-style: none;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.style-1 .qcmaa-breadcrumb-list-item:after{
	content: 'Â»';
	position: absolute;
	top: -1px;
    right: -5px;
}
.style-1 .qcmaa-breadcrumb-list-item:last-child:after{
	display: none;
}
.style-1 .qcmaa-breadcrumb-list-item:first-child{
	padding-left: 0;
}
.style-1 .qcmaa-accordion-title{
	position: relative;
	cursor: pointer;
}
.style-1 .qcmaa-accordion-title:after{
	position: absolute;
	content: '+';
	font-size: 20px;
	top: -3px;
	right: 10px;
}
.style-1 .qcmaa-accordion-title.qcmaa-content-open:after{
	content: '-';
	top: -5px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	#qcmaa-search::after {	
		left: 86% !important;
	}
}
@media only screen and (max-width: 1550px) {
	.style-1 .qcmaa-right-column > div{
		width: 85%;
	}
	.style-1 .qcmaa-single-item-title-row{
		width: 50%;
	}
	.style-1 .qcmaa-single-item-tags-row,
	.style-1 .qcmaa-single-item-icons-row{
		width: 20%;
	}
}
@media only screen and (max-width: 1366px) {
	.style-1 .qcmaa-left-column{
		width: 15%;
	}
}
@media only screen and (max-width: 1150px) {
	.style-1 .qcmaa-left-column{
		display: none;
	}
	.style-1 .qcmaa-right-column{
		width: 100%;
	}
}
@media only screen and (max-width: 1150px) {
	.style-1 .qcmaa-right-column > div{
		width: 95%;
	}
	.style-1 .qcmaa-right-column{
		padding-left: 0;
	}
}
@media only screen and (max-width: 800px) {

	.style-1 .qcmaa-single-item-tags-row{
		display: none;
	}
	.style-1 .qcmaa-single-item-thumbnail{
		width: 15%;
	}
	.style-1 .qcmaa-single-item-title-row{
		width: 70%;
	}
}
@media only screen and (max-width: 700px) {
	.style-1 .qcmaa-single-item-tags-row{
		display: none;
	}
	.style-1 .qcmaa-single-item-thumbnail{
		width: 15%;
	}
	.style-1 .qcmaa-single-item-title-row{
		width: 70%;
	}
}
@media only screen and (max-width: 580px) {
	.style-1 .qcmaa-single-item-thumbnail{
		width: 65px;
	}
	.style-1 .qcmaa-single-item-title-row{
		width: calc(100% - 35px);
		padding-right: 0;
	}
	.style-1 .qcmaa-single-item-icons-row{
		width: 100%;
		justify-content: start;
		margin-left: 50px;
		padding-left: 0;
	}
}
@media only screen and (max-width: 480px) {
	.style-1 .qcmaa-single-item-thumbnail{
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.style-1 .qcmaa-single-item-thumbnail img{
		max-width: 110px;
		/*margin-left: 0;
		margin-right: 0;*/
	}
	.style-1 .qcmaa-single-item-title-row{
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.style-1 .qcmaa-single-item-icons-row{
		justify-content: start;
		margin-left: 0;
	}
}
